useDynLib(dxfspatial)

importFrom("methods", "is", "slot")
importFrom("Rcpp", "evalCpp")
import("sp")
import("rgeos")
import("raster")
import("maptools")

export("processDXF")
export("cleanPolygons")
